*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    color: #494c4e;
    scroll-behavior: smooth;
}

body {
    border: 0.5rem solid #494c4e;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
    font-weight: bold;
}

input,
button,
textarea {
    outline: none;
}

header {
    width: 70%;
    margin: 2rem auto;
}

nav {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #494c4e;
}

.nav-left {
    display: block;
    height: 4rem;
    width: 4rem;
    border: 0.3rem solid #494c4e;
    overflow: visible;
    position: relative;
    transform:rotate(0deg);
    transition: transform .4s ease-in-out;
    flex-shrink: 0;
}

.nav-left span {
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: transform .4s ease-in-out;
}

.nav-left:hover {
    opacity: 1;
    transform: rotate(-90deg);
    transition: transform .4s ease-in-out;
}

.nav-left:hover span {
    transform: translate(-50%, -50%) rotate(90deg);
    transform-origin: center;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul {
    list-style-type: disc;
    padding-inline-start: 40px;
}

ul li {
    list-style: none;
    display: list-item;
    margin-left: 1rem;
}

li a {
    padding-bottom: 0.3rem;
}

li a:hover {
    border-bottom: 2px solid #F6AC00;
}

.home {
    margin: 0 auto;
}

.home img {
    width: 80%;
}

.home>p {
    width: 40%;
    font-size: 2rem;
    font-weight: bold;
    margin: 8rem auto;
}

.about {
    width: 40%;
    margin: 0 auto;
    padding-top: 3rem;
}

.about h3 {
    margin: 1.5rem 0;
    text-align: left;
}

.about h4 {
    margin: 1.5rem 0;
    color: #F6AC00;
    font-size: 0.8rem;
    text-align: left;
}

.about .info {
    text-align: left;
    font-size: 1rem;
    line-height: 2rem;
}

.about p:last-child {
    margin-bottom: 5rem;
}

.about a {
    font-weight: bold;
}

.projects {
    border-top: 1px solid #f0eeee;
}

.projects>h3 {
    margin: 5rem auto 2rem auto;
    font-size: 1.5rem;
}

.project {
    padding: 5rem 20%;
    display: flex;
    border-bottom: 1px solid #f0eeee;
}

.laptop-image {
    flex-grow: 1;
    flex-basis: 0;
}

.project-content {
    flex-grow: 1;
    flex-basis: 0;
    padding-top: 2rem;
    padding-left: 2rem;
}

.project-header {
    display: flex;
    margin-bottom: 2rem;
}

.project-header h3 {
    font-size: 2rem;
}

.project-header span {
    margin-top: 0.7rem;
    margin-left: 2rem;
    font-size: 0.8rem;
    font-family: sans-serif;
    background-color: #F6AC00;
    height: 1.5rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.project-content p {
    text-align: left;
    margin-bottom: 2rem;
    padding-right: 3rem;
}

.project-buttons {
    display: flex;
    width: 80%;
}

.project-buttons button {
    flex-grow: 1;
    flex-basis: 0;
    padding: 1rem;
    border-radius: 2rem;
    margin-right: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.cta-left {
    color: #FFFFFF;
    background-color: #F6AC00;
    border: 1px solid #F6AC00;
}

.cta-left:hover {
    background-color: #e6a100;
    border: 1px solid #e6a100;
}

.cta-right {
    background-color: #FFFFFF;
    border: 1px solid #F6AC00;
}

.cta-right:hover {
    color: #FFFFFF;
    background-color: #F6AC00;
    border: 1px solid #F6AC00;
}

.contact-form {
    width: 25rem;
    margin: 0 auto;
    padding: 5rem 0;
}

.contact-form h3 {
    font-size: 1.5rem;
    padding-bottom: 3rem;
}

.contact-form label,input,textarea {
    display: block;
    width: 100%;
    margin: 1rem 0;
    text-align: left;
}

.contact-form label {
    font-size: .8rem;
    color: #F6AC00;
}

.contact-form input,textarea {
    padding: 0.5rem 1rem;
    border: 1px solid #F6AC00;
    border-radius: 0.5rem;
}

.status {
    margin-top: 1rem;
}

.status div {
    color: red;
    font-size: 0.8rem;
}

.send {
    width: fit-content;
    margin: 3rem auto 5rem auto;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-weight: bold;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #F6AC00;
    border: 1px solid #F6AC00;
}

.send:hover {
    background-color: #e6a100;
    border: 1px solid #e6a100;
}

.contact-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact-icons i {
    flex-grow: 1;
    flex-basis: 0;
    cursor: pointer;
}

footer {
    margin: 0 auto;
    padding: 2rem;
    border-top: 1px solid #f0eeee;
}

.arrow {
    display: none;
    position: fixed;
    right: 3rem;
    bottom: 1.25rem;
    background-color: #f0eeee;
    border-radius: 0.5rem;
    cursor: pointer;
}

.arrow:hover {
    transform: scale(1.1);
    transition: transform .3s ease-in-out;
}

.arrow i {
    font-size: 1.5rem;
    padding: 1rem;
}

@media (max-width: 1650px) {
    .project {
        padding: 5rem 10%;
    }

    .project-header h3 {
        font-size: 1.5rem;
    }

    .project-header span {
        margin-top: 0.2rem;
    }
}

@media (max-width: 1270px) {
    .home>p {
        width: 70%;
    }

    .about {
        width: 70%;
    }


    .project {
        padding: 5rem 5%;
    }
}

@media (max-width: 1120px) {
    .project {
        padding: 5rem 20%;
        display: block;
    }

    .project-content {
        padding-top: 3rem;
        padding-left: 0;
    }
    
    .project-header {
        justify-content: center;
        align-items: center;
    }

    .project-content p {
        text-align: center;
        padding-right: 0;
    }

    .project-buttons {
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 950px) {
    header {
        width: 90%;
    }

    .home>p {
        width: 80%;
        font-size: 1.5rem;
        margin: 5rem auto;
    }

    .about {
        width: 80%;
    }

    .project {
        padding: 3rem 10%;
    }

    .send {
        margin: 2rem auto 3rem auto;
    }

    .contact-form {
        padding: 3rem 0;
    }

    .contact-form h3 {
        padding-bottom: 1rem;
    }
}

@media (max-width: 750px) {
    .nav-left {
        display: none;
    }

    nav {
        display: block;
        padding-bottom: 1rem;
        border-bottom: 1px solid #f0eeee;
    }

    nav ul {
        padding-inline-start: 0;
    }

    nav ul li:first-child {
        margin-left: 0;
    }

    .nav-right {
        justify-content: center;
    }

    .project {
        padding: 3rem 1rem;
    }

    .laptop-image img {
        max-width: 80%;
    }
}

@media (max-width: 450px) {
    *{
        font-size: 12px;
    }

    .project-header {
        width: 90%;
    }

    .contact-form {
        width: 20rem;
    }
}

@media (max-width: 365px) {
    *{
        font-size: 10px;
    }

    .project-header span {
        margin-left: 1rem;
    }
}

@media (max-width: 292px) {
    header {
        width: 100%;
    }

    .project-header {
        width: 100%;
        flex-direction: column;
    }

    .project-header span {
        margin: 0.5rem 0 auto 0;
    }

    .project-buttons {
        flex-direction: column;
    }

    .project-buttons button {
        margin-right: 0;
        margin: 1rem auto;
        width: 50%;
    }
}